---
// Import the necessary dependencies.
import AuthBtn from "@components/ui/buttons/AuthBtn.astro";
import ContactIconBlock from "@components/ui/blocks/ContactIconBlock.astro";
import TextInput from "@components/ui/forms/input/TextInput.astro";
import EmailContactInput from "@components/ui/forms/input/EmailContactInput.astro";
import PhoneInput from "@components/ui/forms/input/PhoneInput.astro";
import TextAreaInput from "@components/ui/forms/input/TextAreaInput.astro";
import Icon from "@components/ui/icons/Icon.astro";
import GithubBtn from "../ui/buttons/GithubBtn.astro";

// Define the variables that will be used in this component
const title: string = "Kontaktirajte nas";
const subTitle: string =
"Obratite nam se i zajedno ćemo naći savršeno rešenje za vaše električarske potrebe.";
const formTitle: string = "Imate li neko pitanje za nas?";
const formSubTitle: string = "Pošaljite nam poruku:";
const formBottomText: string = "Odgovorićemo vam u roku od 1-2 radna dana.";
---

<!-- Contact Us -->
<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <div class="text-center">
      <h1
        class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
      >
        {title}
      </h1>
      <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
        {subTitle}
      </p>
      <div class="mt-5">
        <GithubBtn url="tel:0601535566" title="Pozovite"/>
      </div>
    </div>

    <div class="mt-12 grid items-center gap-6 lg:grid-cols-2 lg:gap-16">
      <div class="flex flex-col rounded-xl p-4 sm:p-6 lg:p-8">
        <h2
          class="text-xl font-bold text-neutral-700 dark:text-neutral-300"
        >
          {formTitle}
        </h2>
        <h2
        class="mb-8 text-l font-bold text-neutral-700 dark:text-neutral-300"
      >
        {formSubTitle}
      </h2>
        <!-- Form for user input with various input fields.-->
        <!-- Each field utilizes a different input component for the specific type of input (text, email, phone, and textarea)-->
        <form>
          <div class="grid gap-4">
            <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
              <TextInput
                id="hs-firstname-contacts"
                label="Ime"
                name="hs-firstname-contacts"
              />
              <TextInput
                id="hs-lastname-contacts"
                label="Prezime"
                name="hs-firstname-contacts"
              />
            </div>
            <EmailContactInput id="hs-email-contacts" />
            <PhoneInput id="hs-phone-number" />
            <TextAreaInput
              id="hs-about-contacts"
              label="Postavite pitanje"
              name="hs-about-contacts"
            />
          </div>

          <div class="mt-4 grid">
            <AuthBtn title="Pošalji poruku" />
          </div>

          <div class="mt-3 text-center">
            <p class="text-sm text-neutral-600 dark:text-neutral-400">
              {formBottomText}
            </p>
          </div>
        </form>
      </div>

      <!--ContactIconBlocks are used to display different methods of contacting, including visiting office, email, browsing knowledgebase, and FAQ.-->
      <div class="divide-y divide-neutral-300 dark:divide-neutral-700">
        <ContactIconBlock
          heading="Usluge"
          content="Pogledaj koje sve usluge nudimo."
          isLinkVisible={true}
          linkTitle="Pogledaj usluge"
          linkURL="/usluge"
          isArrowVisible={true}
          ><Icon name="question" />
        </ContactIconBlock>

        <ContactIconBlock
          heading="Pitanja"
          content="Pogledajte često postavljana pitanja"
          isLinkVisible={true}
          linkTitle="Pogledaj pitanja"
          linkURL="/"
          isArrowVisible={true}
          ><Icon name="chatBubble" />
        </ContactIconBlock>

        <ContactIconBlock
        heading="Adresa"
        isLinkVisible={true}
        content="Pronađite nas na adresi:"
        linkTitle="Marka Kraljevića bb, Sremska Mitrovica 22000"
        linkURL="https://maps.app.goo.gl/XamqcRMxaP42DFtD6"
        isArrowVisible={true}
        newPage={true}
        ><Icon name="mapPin" />
      </ContactIconBlock>


       <ContactIconBlock
          heading="Kontaktirajte nas putem email-a"
          content="Pošaljite nam email na:"
          isLinkVisible={true}
          linkTitle="elektrosrem@gmail.com"
          linkURL="mailto:elektrosrem@gmail.com"
          isArrowVisible={true}
          ><Icon name="envelopeOpen" />
        </ContactIconBlock>
      </div>
    </div>
  </div>
</section>
